!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Bro,
    %p
      You can’t forget important occasions for the special ladies in your life. Calendher will help you by reminding you a few weeks before, then provide you a few great gift ideas to make the task simple, and make her day.
    %p
      Your password to login is #{@user.token}. You can change this anytime.
    %p
      The events below have already been added to your #{link_to "Calendher", root_url}.
    %ul
      %li Mother’s Day
      %li Valentine’s Day
    %p
      Much Love,
    %p
      The Calendher Team
      %br=link_to "@Calendher", "http://twitter.com/calendher"
