#HomeContent
  .container
    %div.row
      %div.span10.offset1.centered#content_home
        =image_tag "logo.png", :width => 500
        %p.lead.dark.margintop-10 Stress Free Gift-Giving for Guys
        = link_to 'Get The Reminders!', new_user_registration_url, :class => "btn btn-large btn-danger"

#SignUpBox
  .container
    %div.row.centered
      .span4 Thoughtful
      .span4 Convenient
      .span4 Timely

#HomeDescription
  .container
    %div.row.margintop-10
      %div.span5.offset1
        =image_tag "sample_home.jpg", :width => 300
      %div.span5
        %ul.lead  
          %li Thoughtful
          %li Convenient
          %li Awesome





/ %input.input-xxlarge.signup_field{:placeholder => "Search"}
/ %input{ :class => "btn", :type => "submit", :name => "submit", :value => "DO IT" }

/ #user_nav
/   - if current_user
/     Signed in as
/     = succeed "!" do
/       %strong= current_user.name
/     = link_to "Sign out", signout_path, id: "sign_out"
/   - else
/   = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"