#HomeContent
  .container
    %div.row
      %div.span10.offset1.centered#content_home
        %p.home_head_text Stress-Free Gifts for Her
        %p.home_sub_text The Older Sis You Never Had
        =image_tag "logo.png", :width => 500

    %div.row.margintop-10
      %div.span5.offset1
        =image_tag "sample_home.jpg", :width => 300
      %div.span5
        %ul.lead  
          %li Thoughtful
          %li Convenient
          %li Awesome

    %div.row.margintop-10
      %div.span10.offset1.centered
        = link_to 'Sign up for reminders here', new_user_registration_url, :class => "btn"



        / %input.input-xxlarge.signup_field{:placeholder => "Search"}
        / %input{ :class => "btn", :type => "submit", :name => "submit", :value => "DO IT" }

    / #user_nav
    /   - if current_user
    /     Signed in as
    /     = succeed "!" do
    /       %strong= current_user.name
    /     = link_to "Sign out", signout_path, id: "sign_out"
    /   - else
    /   = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"