/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 */

$helvetica_medium: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$helvetica_neue:"HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$helvetica_light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$helvetica_heavy: "HelveticaNeue-Heavy", "Helvetica Neue Heavy", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

.centered{text-align: center;}
.white{color:white;}
.dark{color:#333;}
.weighted{font-weight:bold;}
.right{float:right;}
.clear{clear:both;}
.nomargin{margin:0px;}

.content {
  background-color: #F4F4F4;
  padding:60px 20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.sub_header{
	font-size:28px;
	font-family: $helvetica_heavy;
	font-weight:800;
	margin-top:15px;
}

fieldset{

}

.transparent {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}


.logo{
	font-size:20px;
	font-family: $helvetica_medium;
}

.margintop-10{margin-top:10px;}
.marginleft-20{margin-left:20px;}
.margintop-10{margin-top:7px;}

.nav-spacing{
	margin-right:20px;
}