// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_table{
	margin-top:10px;
}

.event_table .pic{
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
}