$helvetica_medium: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$helvetica_neue:"HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;


#HomeContent{
	background: url(wood1.png) top left repeat;
	min-height: 500px;
	padding-top:30px;
}

#home_content{
	padding:10px;
	background-color:#f1ebe8;
}

.home_head_text{
	font-family: $helvetica_neue;
	font-size:50px;
	font-weight:900;
	color:white;
}

p.home_sub_text{
	font-family: $helvetica_neue;
	font-size:24px;
	color:#ddd;
	margin-top:25px;
}

.signup_field{
	color:#333;
	height:23px;
	vertical-align: center;
}