$helvetica_medium: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$helvetica_neue:"HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;


#HomeContent{
	background: url(bg_1.png) top left repeat;
	height: 250px;
	padding-top:30px;
}

#HomeDescription{
	background: #f1ebe8;
	padding-top:30px;
}

#content_home{
	padding:10px;
}

.btn-danger{
	background:#e35c4e;
}
.btn-danger a{
	color:white;
}
	.btn-danger a:visited{color:white;}

.home_head_text{
	font-family: $helvetica_neue;
	font-size:50px;
	font-weight:900;
	color:white;
}

p.home_sub_text{
	font-family: $helvetica_neue;
	font-size:24px;
	color:#ddd;
	margin-top:25px;
}

.signup_field{
	color:#333;
	height:23px;
	vertical-align: center;
}

#SignUpBox{
	height:50px;
	background:#FFF;
	border-top:1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.huge_signup_btn{
	height:35px;
	font-size:30px;
}