!!!
%html
  %head
    %title Calendher
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container.margintop-10
          %div.logo.span9
            =link_to image_tag( 'logo-small.png', :width => "100"), root_url
          %div.span2.margintop-10
            -if user_signed_in?
              %span=link_to "account", edit_user_registration_path, :class => "nav-spacing"
              %span=link_to "sign out", destroy_user_session_path, :method => :delete
            - else
              =link_to "sign in", new_user_session_path, :class => "right"


    .content
      .container
        = yield
    %script $('[data-behaviour~=datepicker]').datepicker()
